Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^editpost/?$ app/controller/siteController.php?action=editpost [QSA,L]
RewriteRule ^editpost_submit/?$ app/controller/siteController.php?action=editpost_submit [QSA,L]
RewriteRule ^calendar/?$ app/controller/siteController.php?action=calendar [QSA,L]
RewriteRule ^chat/?$ app/controller/siteController.php?action=chat [QSA,L]
RewriteRule ^newpost/?$ app/controller/siteController.php?action=newpost [QSA,L]
RewriteRule ^newpost_submit/?$ app/controller/siteController.php?action=newpost_submit [QSA,L]
RewriteRule ^deletepost/?$ app/controller/siteController.php?action=deletepost [QSA,L]
