/* START CLICKABLES */
div#edit_box {
	width: 20px;
	height: 20px;
	float: right;
}

div#delete_box {
	width: 20px;
	height: 20px;
	float: right;
	margin-right:20px;
}

#up_vote {
	width: 20px;
	height: 20px;
	margin: auto;
}

#down_vote {
	width: 20px;
	height: 20px;
	margin: auto;
}

#newforumpost {
    background-color: #35659c;
    color: white;
    font-family: "Helvetica";
    padding: 5px;
    font-size: 15px;
	border: solid 1px #D1D1D1;
	text-align: center;
}

p.comments {
	text-align: left;
	font-family: "Helvetica";
	font-size: 10px;
	color: white;
    font-weight: bold;
	margin-top: 20px;
}
/* END CLICKABLES */

/* START TABLE ELEMENTS */
th#t1, td#t1 {
    border: 1px solid teal;
    padding: 5px;
    min-width: 30px;
}

table#t1 {
    border: 2px solid #35989c;
    margin-left: 5%;
    float: left;
	width: 90%;
	background-color: lightblue;
	border-collapse: collapse;
    text-align: center;
	font-family: "Helvetica";
	font-size: 14px;
	color: red;
	vertical-alignment: middle;
}

table#t2 {
    margin-left: 10px;
    float: left;
	width: 95%;
	background-color: lightblue;
	border-collapse: collapse;
    text-align: left;
	font-family: "Helvetica";
	font-size: 14px;
}
/* END TABLE ELEMENTS */

/* START HEADERS */
/*h1 {
	text-align: center;
	font-family: "Helvetica";
	font: 24pt;
	color: #35659c;
}*/
h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
h1.elegantshadow {
  color: #131313;
  background-color: #e7e5e4;
  letter-spacing: .15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}
h1.deepshadow {
  color: #e0dfdc;
  background-color: #333;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
h1.insetshadow {
  color: #202020;
  background-color: #2d2d2d;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111111, 2px 2px 1px #363636;
}
h1.retroshadow {
  color: #2c2c2c;
  background-color: #d5d5d5;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

h2 {
	text-align: left;
	font-family: "Helvetica";
	font: 18pt;
	color: white;
	display: inline;
}

h3 {
	text-align: center;
	font-family: "Helvetica";
	font: 16pt;
	color: white;
	margin: 5;
}

h5 {
	text-align: left;
	font-family: "Helvetica";
	font: 10pt;
	color: white;
	display: inline;
}
/* END HEADERS */


/* START TAB CODE */
.tabrow {
    text-align: center;
    list-style: none;
    margin: 0px 0 20px;
    padding: 0;
    line-height: 35px;
    height: 37px;
    overflow: hidden;
    font-family: "Helvetica";
    font-size: 12px;
    color: #35989c;
    font-weight: bold;
    position: relative;
}

.tabrow li {
    border: 1px solid #AAA;
    background: #D1D1D1;
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    display: inline-block;
    position:relative;
    z-index: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 30px;
}

.tabrow a {
    color: #555;
    text-decoration: none;
}

.tabrow li.selected {
    background: #FFF;
    z-index: 2;
    border-top-color: #FFF;
    font-weight: 800;
}

.tabrow:before {
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    border-top: 1px solid #AAA;
    z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
    border: 1px solid #AAA;
    position: absolute;
    top: -1px;
    width: 6px;
    height: 6px;
    content: "";
}

.tabrow li:before {
    left: -7px;
    border-top-right-radius: 6px;
    border-width: 1px 1px 0px 0px;
    box-shadow: 2px 0px 0 #ECECEC;
}

.tabrow li:after {
    right: -7px;
    border-top-left-radius: 6px;
    border-width: 1px 0px 0px 1px;
    box-shadow: -2px 0px 0 #ECECEC;
}

.tabrow li.selected:before {
    box-shadow: 2px 0px 0 #FFF;
}

.tabrow li.selected:after {
    box-shadow: -2px 0px 0 #FFF;
}
/* END TAB CODE */

/* START DROPDOWN BUTTON CODE */
/* Dropdown Button */
.dropbtn {
    background-color: #35659c;
    float: left;
    color: white;
    font-family: "Helvetica";
    padding: 5px;
    font-size: 10px;
	border: solid 1px #D1D1D1;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #D1D1D1;
    color: 9c3935;
	border: solid 1px #9c3935;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px;
    font-size: 10px;
    font-family: "Helvetica";
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #D1D1D1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* END DROPDOWN BUTTON CODE */

/* START ELEMENT HOLDERS */
body {
	background: #35989c;
}

#main {
	width: 1000px;
	height: 1000px;
	background: #E7E5E4;
	margin: 25px auto;
	border: solid 2px #D1D1D1;
}

#cal_box {
	width: 200px;
	height: 200px;
	margin-left: 32%;
	/*float: left;*/
}

#chat_box {
	/*width: 200px;*/
	/*height: 250px;*/
	margin-left: 40%;
}

#flat_rectangle {
	width: auto;
	height: 0px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
}

#med_rectangle {
	width: 1000px;
	height: 10px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	text-align: right;
	color: white;
	font-family: "Helvetica";
	font-size: 10px;
	margin: 0px auto;
}

div#tall_rectangle {
	width: auto;
	height: 55px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
}

#signedin {
	background: #35989c;
    float: right;
    color: white;
    font-family: "Helvetica";
    padding: 5px;
    font-size: 10px;
    border: none;
	vertical-align: text-top;
}

#signout {
    background-color: #35659c;
    float: right;
    color: white;
    font-family: "Helvetica";
    padding: 5px;
    font-size: 10px;
	border: solid 1px #D1D1D1;
	vertical-align: text-top;
}
/* END ELEMENT HOLDERS */

div#newpost {
	padding-left:20%;
	padding-right:20%;
}

button {
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   cursor:pointer;
   overflow: hidden;
   outline:none;
}
