body{
 	background-color: #35989c !important;
}

h1 {
 	text-align: center;
 	font-family: "Century Gothic";
 	font: 120pt;
 	font-weight: normal;
 	text-transform: uppercase;
}

.jumbotron{
	width: 1000px;
 	height: 800px;
 	margin: 25px auto;
 	border: solid 2px #D1D1D1;
}

